button:hover {
  color: blue;
}
button:active {
  color: #0099FF
}
#divgencost {
  display: inline-block;
}
#divbbcost {
  display: inline-block;
  text-indent: 1.25em;
}
#divspeedcost {
  display: inline-block;
  text-indent: 1.25em;
}
#divtenspeedcost {
  display: inline-block;
  text-indent: 1.25em;
}
#counter {
  font-size: x-large;
  padding-bottom: 0.05em;
}
#alphacounter {
  font-size: x-large;
}
#divmbupcost {
  display: inline-block;
  text-indent: 6.5em;
}
#divmbmultcost {
  display: inline-block;
  text-indent: 5.75em;
}
#divalphaacceleratorcost {
  display: inline-block;
}
#pcosttext {
  display: inline-block;
  text-indent: 4em;
}
#divgenboost {
  display: inline-block;
}
#divgbuptcost {
  display: inline-block;
  text-indent: 7.5em;
}
#divgbupmcost {
  display: inline-block;
  text-indent: 4.75em;
}
#divthreeboostcost {
  display: inline-block;
}
#divperbangcost {
  display: inline-block;
  text-indent: 7.25em;
}
.redb {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: none;
  font-family: 'Tahoma';
  font-weight: 500;
  cursor: pointer;
  color: red
}
.redb:hover {
  color: #FF00FF
}
.redb:active {
  color: #0099FF
}
#stat {
  word-break:break-all;
}
#divunlockpca {
  display: inline-block;
}
#divupgradepcacost {
  display: inline-block;
}
#divboosterupcost {
  display: inline-block;
}
#divboosteruppercentcost {
  display: inline-block;
  text-indent: 15em;
}
#divboostsacrificecost {
  display: inline-block;
}
#boostsac2 {
  display: inline-block;
}
#omegabasecost {
  display: inline-block;
}
#omegaalphacost {
  display: inline-block;
  text-indent: 3.5em;
}
#omegabetacost {
  display: inline-block;
  text-indent: 6em;
}
#omegagammacost {
  display: inline-block;
  text-indent: 4em;
}
#omegadeltacost {
  display: inline-block;
  text-indent: 4em;
}
#divobase {
  display: inline-block;
}
#divoalpha {
  display: inline-block;
  text-indent: 4.5em;
}
#divobeta {
  display: inline-block;
  text-indent: 7em;
}
#divogamma {
  display: inline-block;
  text-indent: 7em;
}
#divodelta {
  display: inline-block;
  text-indent: 7em;
}
#boostsection {
  flex: space-evenly;
  flex-direction: row;
  gap: 2.375em
}
#nbnb {
  flex: space-evenly;
  flex-direction: row;
  gap: 1.5em
}
#divbau {
  display: inline-block
}
#divupgradeba {
  display: inline-block;
}
#divtoggleba {
  display: inline-block;
  text-indent: 6em;
}
#bnbn {
  display: flex;
  flex: space-evenly;
  flex-direction: row;
  gap: 1.5em
}
#gboostdouble {
  display: inline-block;
}
#alphamachinedouble {
  display: inline-block;
  text-indent: 7.4em;
}
.button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: none;
  font-family: 'Tahoma';
  font-weight: 500;
  cursor: pointer;
}
.tabopener {
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  font-size: 18px;
}
body {
  display:flex;
  flex-direction: column;
  align-items: center;
}
* {text-align: center;}
#boostsection {
  display:flex;
  justify-content: center;
}
#bangshow {
  display:flex;
  justify-content: center;
}
#bangcenteringfix {
  display:flex;
  justify-content: center;
}
#veryouterboost {
  border:0.2em solid #333333; 
  padding-left: 15px; 
  padding-right: 15px;
  padding-bottom: 10px; 
  display:none; 
  border-radius: 10px
}
#nuclearshow {
  display:none;
  border:0.2em solid #333333; 
  padding-left: 15px; 
  padding-bottom: 10px; 
  padding-right: 15px; 
  border-radius: 10px
}
#bangshow {
  display:none; 
  border:0.2em solid #333333; 
  padding-left: 15px; 
  padding-bottom: 10px; 
  padding-right: 15px; 
  border-radius: 10px
}
#pcabox {
  border:0.2em solid #333333; 
  padding-left: 15px; 
  padding-bottom: 10px; 
  padding-right: 15px; 
  border-radius: 10px
}
#talbox {
  border:0.2em solid #333333; 
  padding-left: 15px; 
  padding-bottom: 10px; 
  padding-right: 15px; 
  border-radius: 10px
}
#nuclearalphashow {
  display:none; 
  border:0.2em solid #333333; 
  padding-left: 15px; 
  padding-bottom: 10px;
  padding-right: 15px; 
  border-radius: 10px
}
#bpsection {
  border:0.2em solid #333333; 
  padding-left: 15px; 
  padding-bottom: 10px; 
  padding-right: 15px; 
  border-radius: 10px
}
#divclickerparticles {
  border:0.2em solid #333333; 
  padding-left: 15px; 
  padding-bottom: 10px; 
  padding-right: 15px; 
  border-radius: 10px
}
#nextfeature {
  font-size:larger;
  padding-bottom:0.3em;
}
#autosaving {
  display:inline-block;
}
#experimentoggle {
  display:inline-block;
  text-indent: 10em;
}
#divspeedparticlecost {
  display: inline-block;
}
#divmachinecost {
  display: inline-block;
  text-indent: 2em;
}
